<header class="o-header">
    <a href="/" class="header-element"><i class="fa fa-play"></i> Página inicial</a>

    <a href="/upload" class="header-element"><i class="fa fa-upload"></i> Adicionar vídeo</a>

</header>