<%- include("partials/header")%>

    <body>
        <div class="homeArea">

            <%- include("partials/navbar") %>
                <div class="homeAlerts">
                    <%=uploadSuccess%>
                </div>
                <div class="screenArea">
                    <%- include("partials/videos") %>

                </div>
        </div>
    </body>

    </html>